@charset "utf-8";
* {
    margin: 0px;
    padding: 0;
    transition: all .3s;
}

.inner_block {
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

header nav {
    position: fixed;
    height: 115px;
    line-height: 115px;
    z-index: 100;
}
.nav-wrapper_yellow {
    position: relative;
    height: 105px;
    line-height: 105px;
    margin: 5px 0;
    padding: 0;
    border-top: 3px dashed #fff;
    border-bottom: 3px dashed #fff;
    top: 0;
    bottom: 0;
}

/*логотип*/

.brand-logo {
    display: inline-flex;
    width: 150px;
    height: 100%;
    padding: 0;
    margin: 0.5rem 2rem;
}
.brand-logo img {
    width: 150px;
    height: auto;
}

/*сам навбар*/

header nav ul {
    margin: 0;
    padding: 0 !important;
    margin-left: 335px;
    width: 750px;
}
header .dropdown-content {
    background: #dcd256;
    font-size: 0.5rem;
}
header .dropdown-content li a:hover {
    background: #fff;
}
header .dropdown-content li a {
    height: 115px;
    line-height: 1.5;
    font-size: 0.8rem;
}
header .dropdown-content li a.white-text:hover {
    color: #f5e954 !important;
}
nav li a {
    font-size: 1em;
    padding: 0 0.75em;
    height: 95px;
    line-height: 115px;
}
.yellow_header {
    background-color: #dcd256;
}

/*телефон*/

.nav-phone {
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 0 !important;
    margin: 0;
    width: 350px;
    height: 115px;
    line-height: 115px;
    font-size: 36px;
}

/*конпка в навбаре*/

.nav-button {
    display: flex;
    float: right;
    position: relative;
    align-items: center;
    padding: 0;
    margin: 0 2em;
    width: 200px;
    height: 115px;
    line-height: 115px;
}
.button_kabinet {
    display: inline-flex;
    align-items: center;
    float: none;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0px auto;
    height: 38px;
    line-height: 1;
    width: 164px;
    border-radius: 25px;
    border: 1px solid #fff;
}
.button_kabinet:active {
    color: rgba(211, 84, 135, .61);
    background-color: #fff;
}
.button_kabinet:hover {
    background-color: rgba(211, 84, 135, .61);
    background-image: -webkit-linear-gradient(bottom, rgba(215, 215, 215, .43), rgba(255, 255, 255, .43));
    background-image: -moz-linear-gradient(bottom, rgba(215, 215, 215, .43), rgba(255, 255, 255, .43));
    background-image: -o-linear-gradient(bottom, rgba(215, 215, 215, .43), rgba(255, 255, 255, .43));
    background-image: -ms-linear-gradient(bottom, rgba(215, 215, 215, .43), rgba(255, 255, 255, .43));
    background-image: linear-gradient(to top, rgba(215, 215, 215, .43), rgba(255, 255, 255, .43));
}
.side-nav {
    z-index: 50;
}

#portfolio {
    padding-top: 115px;
    padding-bottom: 0;
}

h1.folio {
    color: #dcd256;
}

.imageholder {
    margin-top: 5em;
}

.zagolovok {
    position: relative;
    margin: auto;
    padding: 0;
    height: 250px;
}

#emotion,
#emotion .row {
    padding-bottom: 0;
    margin-bottom: 0;
}

h3.pinker {
    font-size: 24pt;
    line-height: 2em;
    color: #9b3555;
    text-align: center;
}

.chip.pinker {
    border: 1px solid #fff;
}

.chip .pinker:hover {
    background-color: rgba(211, 84, 135, .61);
    background-image: -webkit-linear-gradient(bottom, rgba(215, 215, 215, .43), rgba(255, 255, 255, .43));
    background-image: -moz-linear-gradient(bottom, rgba(215, 215, 215, .43), rgba(255, 255, 255, .43));
    background-image: -o-linear-gradient(bottom, rgba(215, 215, 215, .43), rgba(255, 255, 255, .43));
    background-image: -ms-linear-gradient(bottom, rgba(215, 215, 215, .43), rgba(255, 255, 255, .43));
    background-image: linear-gradient(to top, rgba(215, 215, 215, .43), rgba(255, 255, 255, .43));
}

.button_folio {
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    float: none;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0px auto;
    height: 38px;
    line-height: 38px;
    font-size: 0.75em;
    width: 164px;
    border-radius: 25px;
    color: #dcd256;
    background: none;
    border: 1px solid #dcd256;
}

.button_folio:focus {
    background-color: #dcd256;
    color: #fff;
}

.row .col {
    padding: 0;
    margin: 0;
    float: left;
}

#folio {
    padding: 0 0.2em;
}

.folio_pic {
    max-width: 100%;
    width: auto;
    height: 365px;
    position: relative;
    float: left;
    cursor: pointer;
    overflow:hidden;
}

.folio_pic:active {
    transform: scale(1.025);
    transition: .5s ease;
}

.folio_pic .responsive-img {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-content: center;
    padding: 0.5em;
    z-index: 30;
}
.folio_pic:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    padding: 0;
    margin: auto;
}

.folio_pic:hover:before {
    background: none;
}

.mini_folio_pic {
    position: relative;
    float: left;
    cursor: pointer;
}

.mini_folio_pic .responsive-img {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-content: center;
    padding: 0.25em;
}

.mini_folio_pic:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    padding: 0;
    margin: auto;
}

.mini_folio_pic:hover:before {
    background: none;
}

#team {
    max-width: 100%;
    height: auto;
    background: url('../images/index/team_back.png') top center no-repeat;
    background-color: #d35487;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

    #team .section-header {
        height: auto;
        padding: 50px 0;
    }

p.frame_name {
    text-align: center;
    top: 0;
    padding: 0;
    margin: 0;
    font-size: 2em;
}

p.frame_text {
    text-align: justify;
    top: 0;
    padding: 0;
    margin: 0;
    font-size: 1.25em;
}

p.copy {
    height: 100px;
    line-height: 100px;
    font-size: 1.25em;
    color: #e798b7;
}

.links_img img {
    width: auto;
    height: 35px;
    bottom: 0;
    top: 0;
    margin: 2rem 0.5rem;
}

a .links_img {
    width: 50px;
    height: 50px;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

footer {
    display: block;
    height: auto;
    bottom: 0 !important;
    position: static;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    padding: 0;
    margin: 0;
    bottom: 0;
}
footer .row {
    margin: 0px !important;
    padding: 0 !important;
    overflow: hidden;
    bottom: 0;
}


/*mobile-first adaptive*/

@media screen and (min-width: 0px) and (max-width: 320px) {
      #slide-out li {
        padding: 5px 15px;
        margin: 0;
        line-height: 15px;
    }
    #slide-out {
        height: 100%;
    }
    a.links_img .button-collapse,
    .links_img.button-collapse img {
        left: 0;
        margin: 2.4rem 1rem;
    }
    nav .brand-logo img {
        height: 70px;
        width: auto;
    }
    .button_kabinet {
        display: block;
        align-items: center;
        float: none;
        justify-content: center;
        position: relative;
        padding: 0;
        margin: auto;
        left: 0;
        right: 0;
        height: 38px;
        line-height: 1;
        width: 164px;
        border-radius: 25px;
        border: 1px solid #fff;
    }
    a.links_img .button-collapse,
    .links_img.button-collapse img {
        left: 0;
        margin: 2.5rem 1rem;
    }
    .brand-logo {
        padding: 0;
        margin: 0.5rem 0;
    }
    .side-nav {
        z-index: 50;
    }
    nav {
        max-width: 320px;
    }
    h1.folio {
        font-size: 3em;
    }
    h3 {
        font-size: 2.5em;
    }
    .zagolovok {
        flex-direction: column;
        justify-content: center;
        max-height: none;
        height: 200px;
        margin: 0px auto !important;
        margin-bottom: -20px !important;
    }
    #folio {
        padding: 0;
    }
    .folio_pic {
        max-height: 240px;
        height: auto;
        max-width: 320px;
        width: auto;
        padding: 0.5em;
        margin: 0;
    }
    .folio_pic:before {
        top: -6px;
        height: 91%;
        width: 96%;
    }
    .chip.pinker {
        margin: 1em 0;
    }
    #mini_folio {
        padding: 0;
        margin: auto;
    }
    .mini_folio_pic {
        max-height: 120px;
        height: auto;
        max-width: 160px;
        width: auto;
        padding: 0.25em;
        margin: 0;
    }
    .mini_folio_pic:before {
        height: 95%;
        width: 95%;
    }
    #sidenav-overlay {
        z-index: 25;
    }
    #photographer {
        padding-top: 2em;
    }
    #team .container .row {
        padding: 0;
        margin-bottom: 0px;
    }
    #team .section {
        padding: 0;
    }
    footer .brand-logo {
        width: auto;
        height: auto;
    }
    footer .brand-logo img {
        width: auto;
        height: 70%;
    }
    footer .flex-row {
        justify-content: space-between;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
   #slide-out li {
        padding: 5px 15px;
        margin: 0;
        line-height: 15px;
    }
    #slide-out {
        height: 100%;
    }
    nav .brand-logo img {
        height: 80px;
        width: auto;
    }
    .button_kabinet {
        display: block;
        align-items: center;
        float: none;
        justify-content: center;
        position: relative;
        padding: 0;
        margin: auto;
        left: 0;
        right: 0;
        height: 38px;
        line-height: 1;
        width: 164px;
        border-radius: 25px;
        border: 1px solid #fff;
    }
    a.links_img .button-collapse,
    .links_img.button-collapse img {
        left: 0;
        margin: 2.5rem 2rem;
    }
    .brand-logo {
        padding: 0;
        margin: 0.5rem 0;
    }
    .side-nav {
        z-index: 50;
    }
    h1.folio {
        font-size: 3em;
    }
    h3 {
        font-size: 2.5em;
    }
    .zagolovok {
        flex-direction: column;
        justify-content: center;
        max-height: none;
        height: 200px;
        margin: 0px auto !important;
        margin-bottom: -20px !important;
    }
    #folio {
        padding: 0;
    }
    .folio_pic {
        max-height: 360px;
        height: auto;
        max-width: 480px;
        width: auto;
        padding: 0.5em;
        margin: 0;
    }
    .folio_pic:before {
        top: -5px;
        height: 94%;
        width: 97%;
    }
    .chip.pinker {
        margin: 1em 0;
    }
    #mini_folio {
        padding: 0;
        margin: auto;
    }
    .mini_folio_pic {
        max-height: 180px;
        height: auto;
        max-width: 240px;
        width: auto;
        padding: 0.25em;
        margin: 0;
    }
    .mini_folio_pic:before {

        height: 95%;
        width: 95%;
    }
    #sidenav-overlay {
        z-index: 25;
    }
    #photographer {
        padding-top: 2em;
    }
    #team .container .row {
        padding: 0;
        margin-bottom: 0px;
    }
    #team .section {
        padding: 0;
    }
    footer .brand-logo {
        width: auto;
        height: auto;
    }
    footer .brand-logo img {
        width: auto;
        height: 70%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
     #slide-out li {
        padding: 5px 15px;
        margin: 0;
        line-height: 15px;
    }
    #slide-out {
        height: 100%;
    }
    nav .brand-logo img {
        height: 80px;
        width: auto;
    }
    .button_kabinet {
        display: block;
        align-items: center;
        float: none;
        justify-content: center;
        position: relative;
        padding: 0;
        margin: auto;
        left: 0;
        right: 0;
        height: 38px;
        line-height: 1;
        width: 164px;
        border-radius: 25px;
        border: 1px solid #fff;
    }
    a.links_img .button-collapse,
    .links_img.button-collapse img {
        left: 0;
        margin: 2.5rem 2rem;
    }
    .brand-logo {
        padding: 0;
        margin: 0.5rem 0;
    }
    .side-nav {
        z-index: 50;
    }
    h3 {
        font-size: 2.5em;
        margin: auto;
    }
    .zagolovok {
        max-height: none;
        height: 175px;
        margin: 0px auto !important;
        margin-bottom: -20px !important;
    }
    .zagolovok img {
        max-height: 150px;
        height: auto;
        width: auto;
        max-width: 150px;
    }
    #folio {
        padding: 0;
    }
    .folio_pic {
        max-height: 480px;
        height: auto;
        max-width: 768px;
        width: auto;
        padding: 0.5em;
        margin: 0;
    }
    .folio_pic:before {
        top: -5px;
        height: 91%;
        width: 95%;
    }
    .mini_folio_pic:before {
        height: 96%;
        width: 96.5%;
    }
    #mini_folio {
        padding: 0;
        margin: auto 1em;
    }
    .mini_folio_pic {
        max-height: 288px;
        height: auto;
        max-width: 384px;
        width: auto;
        padding: 0.25em;
        margin: 0;
    }
    #sidenav-overlay {
        z-index: 25;
    }
    #team .container .row {
        padding: 0;
        margin-bottom: 0px;
    }
    #team .section {
        padding: 0;
    }
    #photographer {
        margin: 1em 0;
    }
    .frame_phot {
        top: 0;
        max-height: 150px;
    }
    p.frame_text {
        clear: both;
        font-size: 0.75em;
    }
    p.frame_name {
        font-size: 1.5em;
    }
    .chip {
        height: 20px;
        line-height: 20px;
    }
    .chip.pinker {
        margin: 0.2em 0;
    }
    footer .brand-logo {
        width: auto;
        height: auto;
    }
    footer .brand-logo img {
        width: auto;
        height: 70%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #slide-out li {
        padding: 5px 15px;
        margin: 0;
        line-height: 15px;
    }
    #slide-out {
        height: 100%;
    }
    .button_kabinet {
        display: block;
        align-items: center;
        float: none;
        justify-content: center;
        position: relative;
        padding: 0;
        margin: auto;
        left: 0;
        right: 0;
        height: 38px;
        line-height: 1;
        width: 164px;
        border-radius: 25px;
        border: 1px solid #fff;
    }
    a.links_img .button-collapse, .links_img.button-collapse img {
        left: 0;
        margin: 1.75rem 1rem;
    }
    .brand-logo {
        padding: 0;
        margin: 0.3rem 0;
    }
    .side-nav {
        z-index: 50;
    }
    h3 {
        font-size: 2.5em;
        margin: auto;
    }
    .zagolovok {
        max-height: none;
        height: 200px;
        margin: 0px auto !important;
        margin-bottom: -20px !important;
    }

    .zagolovok img {
        max-height: 175px;
        height: auto;
        width: auto;
        max-width: 175px;
    }
    #folio {
        padding: 0;
    }
    .folio_pic {
        max-height: 372px;
        height: auto;
        max-width: 496px;
        width: auto;
        padding: 0.5em;
        margin: 0;
    }
    #mini_folio {
        padding: 0;
        margin: auto 1em;
    }
    .mini_folio_pic {
        max-height: 288px;
        height: auto;
        max-width: 384px;
        width: auto;
        padding: 0.25em;
        margin: 0;
    }
    .folio_pic:before {
        height: 97%;
        width: 97%;
    }
    .mini_folio_pic:before {
        height: 97%;
        width: 97%;
    }
    #sidenav-overlay {
        z-index: 25;
    }
    #team .container .row {
        padding: 0;
        margin-bottom: 0px;
    }
    #team .section {
        padding: 0;
    }
    #photographer {
        margin: 1em 0;
    }
    .frame_phot {
        top: 0;
        max-height: 220px;
    }
    p.frame_text {
        clear: both;
        font-size: 0.9em;
    }
    p.frame_name {
        font-size: 1.65em;
    }
    .chip {
        height: 25px;
        line-height: 25px;
    }
    .chip.pinker {
        margin: 0.5em 0;
    }
    footer .brand-logo {
        width: auto;
        height: auto;
    }
    footer .brand-logo img {
        width: auto;
        height: 70%;
    }
}

@media screen and (min-width: 993px) and (max-width: 1023px) {
    .brand-logo {
        margin: 0.75rem 1rem;
    }
    .brand-logo img {
        max-width: none;
        height: 60px;
        width: auto;
    }
    nav .nav-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    nav .nav-wrapper_yellow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    header nav ul {
        margin-left: 165px;
    }
    nav li a {
        font-size: 0.65em;
        padding: 0 0.5em;
    }
    .nav-phone {
        height: 115px;
        line-height: 115px;
        font-size: 22px;
    }
    .nav-phone span {
        font-size: 18px;
    }
    .nav-button {
        margin: 0 auto;
        height: 115px;
        line-height: 1;
    }
    .button_kabinet {
        height: 35px;
        line-height: 1;
        border-radius: 25px;
        margin-left: 0;
        margin-right: 25px;
    }
    h3.pinker {
        font-size: 2.25em;
        margin: auto;
    }
    .zagolovok {
        max-height: none;
        height: 225px;
        margin-bottom: -20px !important;
    }
    .zagolovok img {
        max-height: 200px;
        height: auto;
        width: auto;
        max-width: 200px;
    }
    #folio {
        padding: 0;
    }
    .folio_pic {
        max-height: 256px;
        height: auto;
        max-width: 512px;
        width: auto;
        padding: 0.5em;
        margin: 0;
    }
    #mini_folio {
        padding: 0;
        margin: auto 1em;
    }
    .mini_folio_pic {
        max-height: 128px;
        height: auto;
        max-width: 256px;
        width: auto;
        padding: 0.25em;
        margin: 0;
    }
    .folio_pic:before {
        height: 85%;
        width: 92%;
        top: -5px;
    }
    .mini_folio_pic:before {
        height: 90%;
        width: 90%;
    }
    #sidenav-overlay {
        z-index: 25;
    }
    #team .container .row {
        padding: 0;
        margin-bottom: 0px;
    }
    #team .section {
        padding: 0;
    }
    #photographer {
        margin: 1em 0;
    }
    .frame_phot {
        top: 0;
        max-height: 180px;
    }
    p.frame_text {
        clear: both;
        font-size: 0.9em;
    }
    p.frame_name {
        font-size: 1.65em;
    }
    .chip {
        height: 25px;
        line-height: 25px;
    }
    .chip.pinker {
        margin: 0.5em 0;
    }
   .links_img img {
        height: 25px;
        margin: 1.75em 0.5rem;
    }
    a .links_img {
        align-content: center;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
    }
    footer .brand-logo {
        width: auto;
        margin: 0.75rem 0;
    }
    footer .brand-logo img {
        width: auto;
        height: 60px;
    }
    p.copy {
        font-size: 0.85em;
        height: 120px;
        line-height: 120px;
    }
    footer .flex-row {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
   .brand-logo {
        margin: auto 0.75rem;
    }
    .brand-logo img {
        max-width: none;
        height: 70px;
        width: auto;
    }
    nav .nav-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    nav .nav-wrapper_yellow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    header nav ul {
        margin-left: 155px;
    }
    nav li a {
        font-size: 0.65em;
        padding: 0 0.4em;
        height: 115px;
        line-height: 115px;
    }
    .nav-phone {
        line-height: 115px;
        height: 115px;
        font-size: 24px;
    }
    .nav-phone span {
        font-size: 18px;
    }
    .nav-button {
        margin: 0 0.75em;
        height: 115px;
    }
    .button_kabinet {
        max-height: 35px;
        line-height: 1;
        margin-right: 25px;
        border-radius: 25px;
    }
    h3.pinker {
        font-size: 1.75em;
        margin: auto;
    }
    .zagolovok {
        max-height: none;
        height: 250px;
        margin-bottom: -20px !important;
    }
    .zagolovok img {
        max-height: 225px;
        height: auto;
        width: auto;
        max-width: 225px;
    }
    #folio {
        padding: 0 0.2em;
    }
    .folio_pic {
        max-height: 256px;
        height: auto;
        max-width: 512px;
        width: auto;
        padding: 0.5em;
        margin: 0;
    }
        .folio_pic img {
        height: 100%;
        width: auto;
    }
    #mini_folio {
        padding: 0;
        margin: auto 1em;
    }
    .mini_folio_pic {
        max-height: 240px;
        height: auto;
        max-width: 320px;
        width: auto;
        padding: 0.25em;
        margin: 0;

        overflow: hidden;
    }
    .folio_pic:before {
        top: -5px;
        height: 87%;
        width: 94%;
    }
    .mini_folio_pic:before {
        height: 90%;
        width: 90%;
    }
    #sidenav-overlay {
        z-index: 25;
    }
    #team .container .row {
        padding: 0;
        margin-bottom: 0px;
    }
    #team .section {
        padding: 0;
    }
    #photographer {
        margin: 1em 0;
    }
    .frame_phot {
        top: 0;
        max-height: 180px;
    }
    p.frame_text {
        clear: both;
        font-size: 1em;
    }
    p.frame_name {
        font-size: 1.75em;
    }
    .chip {
        height: 28px;
        line-height: 28px;
    }
    .chip.pinker {
        margin: 0.5em 0;
    }
 p.copy {
        font-size: 0.85em;
        height: 120px;
        line-height: 120px;
    }
    .links_img img {
        height: 25px;
        margin: 1.75em 0.5rem;
    }
    a .links_img {
        align-content: center;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
    }
    footer .brand-logo {
        width: auto;
        margin: 0.75rem 0;
    }
    footer .brand-logo img {
        width: auto;
        height: 75px;
    }
    footer .flex-row {
        justify-content: space-between;
    }
}

@media screen and (min-width:1281px) and (max-width:1600px) {
   .brand-logo {
        margin: auto 1rem;
    }
    .brand-logo img {
        max-width: none;
        width: auto;
        height: 75px;
    }
    header nav ul {
        margin-left: 200px;
    }
    nav .nav-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    nav .nav-wrapper_yellow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    nav li a {
        font-size: 0.8em;
        padding: 0 0.5em;
        height: 115px;
        line-height: 115px;
    }
    .nav-phone {
        height: 115px;
        line-height: 115px;
        font-size: 32px;
    }
    .nav-phone span {
        font-size: 26px;
    }
    .nav-button {
        margin: 0 0.9em;
        height: 115px;
        line-height: 1;
    }
    .button_kabinet {
        height: 38px;
        line-height: 1;
        border-radius: 25px;
    }
    h3.pinker {
        font-size: 2.45em;
        margin: auto;
    }
    .zagolovok {
        max-height: none;
        height: 275px;
        margin-bottom: -20px !important;
    }
    .zagolovok img {
        max-height: 250px;
        height: auto;
        width: auto;
        max-width: 250px;
    }
    #folio {
        padding: 0 0.2em;
    }

    .folio_pic img {
        height: 100%;
        width: auto;
        overflow: hidden;
    }
    .folio_pic {
        max-height: 240px;
        height: auto;
        max-width: 320px;
        width: auto;
        padding: 0.5em;
        margin: 0;
    }
    #mini_folio {
        padding: 0;
        margin: auto 1em;
    }
    .mini_folio_pic {
        max-height: 240px;
        height: 100%;
        max-width: 320px;
        width: auto;
        padding: 0.25em;
        margin: 0;
    }
    .folio_pic:before {
        top: -5px;
        height: 90%;
        width: 95%;
    }
    .mini_folio_pic:before {
        height: 90%;
        width: 90%;
    }
    #sidenav-overlay {
        z-index: 25;
    }
    #team .container .row {
        padding: 0;
        margin-bottom: 0px;
    }
    #team .section {
        padding: 0;
    }
    #photographer {
        margin: 1em 0;
    }
    .frame_phot {
        top: 0;
        height: 220px;
    }
    p.frame_text {
        clear: both;
        font-size: 1em;
    }
    p.frame_name {
        font-size: 2em;
    }
    .chip {
        height: 32px;
        line-height: 32px;
    }
    p.copy {
        line-height: 120px;
        font-size: 0.9em;
        margin: auto;
    }
    .links_img img {
        height: 25px;
        margin: 1.75em 0.5rem;
    }
    a .links_img {
        align-content: center;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
    }
    footer .brand-logo {
        width: auto;
        margin: 0.75rem 0;
    }
    footer .brand-logo img {
        width: auto;
        height: 75px;
    }
    footer .flex-row {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1601px) {
     .brand-logo {
        max-width: none;
        margin: 0.5rem 1rem;
    }
    .brand-logo img {
        height: 75px;
        width: auto;
    }
    header {
        max-width: 90%;
    }
    header nav ul {
        margin-left: 200px;
    }
    nav .nav-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    nav .nav-wrapper_yellow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    header nav ul {
        width: auto;
    }
    header .dropdown-content li a {
        height: 115px;
        line-height: 115px;
        width: auto;
        text-align: center;
        padding: 0;
    }
    nav li a {
        font-size: 1.15em;
        padding: 0 0.5em;
        height: 115px;
        line-height: 115px;
        text-overflow: ellipsis;
    }
    .nav-phone {
        width: auto;
        height: 115px;
        line-height: 115px;
        font-size: 42px;
    }
    .nav-phone span {
        font-size: 32px;
    }
    .nav-button {
        height: 115px;
        line-height: 1;
    }
    .button_kabinet {
        height: 38px;
        line-height: 1;
        width: 163px;
        border-radius: 25px;
    }
    h3.pinker {
        font-size: 2.8em;
        margin: auto;
    }
    .zagolovok {
        max-height: none;
        height: 320px;
        margin-bottom: -20px !important;
    }
    .zagolovok img {
        max-height: 280px;
        height: auto;
        width: 100%;
        max-width: 200px;
    }
    #folio {
        padding: 0 0.2em;
    }
    .folio_pic {
        max-height: 240px;
        height: auto;
        max-width: 320px;
        width: auto;
        padding: 0.5em;
        margin: 0;
    }

    .folio_pic img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    #mini_folio {
        padding: 0;
        margin: auto 1em;
    }
    .mini_folio_pic {
        max-height: 240px;
        height: auto;
        max-width: 320px;
        width: auto;
        padding: 0.25em;
        margin: 0;
    }
    .folio_pic:before {
        top: -5px;
        height: 94%;
        width: 95%;
    }
    .mini_folio_pic:before {
        height: 90%;
        width: 90%;
    }
    #sidenav-overlay {
        z-index: 25;
    }
    #team .container .row {
        padding: 0;
        margin-bottom: 0px;
    }
    #team .section {
        padding: 0;
    }
    #photographer {
        margin: 1em 0;
    }
    .frame_phot {
        height: 250px;
    }
    p.frame_text {
        clear: both;
        font-size: 1.225em;
    }
    p.frame_name {
        font-size: 2em;
    }
    .chip {
        font-size: 1em;
        height: 30px;
        line-height: 30px;
    }
    .chip.pinker {
        margin: 0.5em 0;
    }
    p.copy {
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: auto;
        line-height: 100px;
        font-size: 1.5em;
    }
    .links_img img {
        height: 50px;
        margin: 1.75em 1rem;
    }
    a .links_img {
        align-content: center;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
    }
    footer .brand-logo {
        width: auto;
        margin: 0.75rem 0;
    }
    footer .brand-logo img {
        width: auto;
        height: 100px;
    }
    footer .flex-row {
        justify-content: space-between;
    }
}
